<section class="advantages">
    <div class="container">
        <div class="center-position-gl">
            <p class="section-title-gl orange-decore-title-gl decore-title-center">Why this is awesome</p>
            <p class="center-position-paragraph-gl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="advantages-list">
            <div class="advantage design">
                <h2 class="advantage-title small-title-gl">Thoughtful design</h2>
                <p class="advantage-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                </p>			
            </div>
            <div class="advantage craft">
                <h2 class="advantage-title small-title-gl">Well Crafted</h2>
                <p class="advantage-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                </p>
            </div>
            <div class="advantage customization">
                <h2 class="advantage-title small-title-gl">Easy to Customize</h2>
                <p class="advantage-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
                </p>
            </div>
        </div>	
    </div>
</section>