<section class="contact"  id="contact-axit">
	<div class="container">
		<div class="center-position-gl">
			<p class="section-title-gl orange-decore-title-gl decore-title-center">Contact us</p>
			<p class="center-position-paragraph-gl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<form action="post" class="contact-form">
		<div class="clearfix">
			<div class="contact-form1">
				<input type="text" class="input-gl" placeholder="Name">
				<input type="text" class="input-gl" placeholder="Email">
				<input type="text" class="input-gl" placeholder="Subject">
			</div>
			<div class="contact-form2">
				<textarea name="comment" id="" placeholder="Message" cols="62" rows="9" class="contact-form-comment"></textarea>
			</div>
		</div>	
		</form>
			<a href="#" class="btn-gl orange">Send Message</a>
	</div>
</section>