<section class="feedbaks" id="feedbacks-axit">
	<div class="container">	
		<div class="center-position-gl">
			<p class="section-title-gl orange-decore-title-gl decore-title-center">What our customers are saying</p>
			<p class="center-position-paragraph-gl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="feedbaks-list">
			<div class="feedback">
				<p class="feedback-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.</p>
				<div class="feedback-author">
					<span class="feedback-author-name">Jeremy H.</span>
					<span class="position">Manager</span>
				</div>
			</div>
			<div class="feedback">
				<p class="feedback-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.</p>
				<div class="feedback-author">
					<span class="feedback-author-name">John S.</span>
					<span class="position">Freelancer</span>
				</div>
			</div>
			<div class="feedback">
				<p class="feedback-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.</p>
				<div class="feedback-author">
					<span class="feedback-author-name">Susan W.</span>
					<span class="position">Photographer</span>
				</div>
			</div>
		</div> 
	</div>
</section>
