<section class="header">
    <nav class="navigation">
        <div class="container">
			<div class="logo">
				<img src="./image/logo-small.png" alt="AXIT">
			</div>
			<label class="menu-drop-down" for="nav-drop-down">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</label>
           	<input type="checkbox" id="nav-drop-down">
			<ul class="menu">
				<li class="menu-item"><a class="menu-link" href="#features-axit">Features</a></li>
				<li class="menu-item"><a class="menu-link" href="#about-axit">About</a></li>
				<li class="menu-item"><a class="menu-link" href="#pricing-axit">Pricing</a></li>
				<li class="menu-item"><a class="menu-link" href="#feedbacks-axit">Reviews</a></li>
				<li class="menu-item"><a class="menu-link" href="#contact-axit">Contact</a></li>
			</ul>
        </div>
	</nav>
    <div class="under-navigation">
		<div class="container">
			<div class="under-navigation1">
				<div class="logo-big">
					<img src="./image/logo-big.png" alt="AXIT">
				</div>
				<p class="section-title-gl light-gl">
					Modern axure template for beautiful prototypes
				</p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
				<a href="#" class="btn-gl btn-white-gl">Download</a>
			</div>
			<div class="under-navigation2">
				<div class="subscribe">
					<p class="subscribe-title">Try your <span class="subscribe-title-orange">free</span> trial today</p>
					<form action="post" class="subscribe-form">
						<input type="text" class="input-gl" placeholder="Name"></input>
						<input type="text" class="input-gl" placeholder="Email"></input>
						<input type="text" class="input-gl" placeholder="Password"></input>
					</form>	
					<a href="#" class="btn-to-bottom-gl subscribe-btn">Get Started</a>
				</div>
			</div>
		</div>
	</div>
</section>