<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>AXIT</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
</head>
<body>
    <div class="wrap">
        @@include('./header.html')
        @@include('./social-top.html')
        @@include('./tab.html')
        @@include('./information-top.html')
        @@include('./information-bottom.html')
        @@include('./advantages.html')
        @@include('./pricing.html')
        @@include('./feedbacks.html')
        @@include('./design-download.html')
        @@include('./contact.html')
        @@include('./footer.html')
    </div>
</body>
</html>