<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>AXIT</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet"> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrap">
        @@include('./header.html')
        @@include('./social-top.html')
        @@include('./tab.html')
        @@include('./information-top.html')
        @@include('./information-bottom.html')
        @@include('./advantages.html')
        @@include('./pricing.html')
        @@include('./feedbacks.html')
        @@include('./design-download.html')
        @@include('./contact.html')
        @@include('./footer.html')
    </div>
</body>
</html>