<section class="information-top" id="about-axit">
    <div class="container">
		<div class="information-top-picture">
			<span class="decore-info-picture"></span>
			<img src="./image/information-top.jpg" alt="" class="info-picture">
		</div>
		<div class="information-top-description">
			<p class="small-title-gl orange-decore-title-gl">Sub list section</p> 
			<p class="description-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
			<div class="illustrative-block upload">
				<h3 class="illustrative-block-title">Title</h3>
				<p class="description-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
			</div>
			<div class="illustrative-block download">
				<h3 class="illustrative-block-title">Title</h3>
				<p class="description-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
			</div>
		</div>
	</div>
</section>
<section class="information-bottom">
	<div class="gray-bg-gl">
		<div class="container clearfix">
			<div class="information-bottom-description">
				<h3 class="small-title-gl orange-decore-title-gl">Standard Picture Section</h3>
				<p class="description-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
				<p class="description-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
			</div>
			<div class="information-bottom-picture">
				<span class="decore-info-picture"></span>
				<img src="./image/information-bottom.jpg" alt="" class="info-picture" width="451" height="302">
			</div>
		</div>	
	</div>
</section>