<section class="gray-bg-gl" id="pricing-axit">
	<div class="container">
		<div class="price">
			<div class="center-position-gl">
				<p class="section-title-gl orange-decore-title-gl decore-title-center">Pricing options</p>
				<p class="center-position-paragraph-gl">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="price-options">
				<div class="price-option basic">
					<div class="price-option-top">
						<h2 class="price-option-title">Basic</h2>
						<span class="money"><span class="dollor">$</span>0</span>
						<span class="period">Free for Life</span>
					</div>
					<table class="package-components">
						<tr><td>1 gb of space</td></tr>
						<tr><td>10 gb of bandwidth</td></tr>
						<tr><td>3 websites</td></tr>
						<tr><td>Basic Customization</td></tr>
						<tr><td>wordpress integration</td></tr>
						<tr><td>email support</td></tr>
					</table>
				</div>
				<div class="price-option profesional">
					<div class="price-option-top">
						<h2 class="price-option-title">Profesional</h2>
						<span class="money"><span class="dollor">$</span>19</span>
						<span class="period">Monthly Payment</span>
						<span class="popular">our most popular</span>
					</div>
					<table class="package-components">
						<tr><td>5 gb of space</td></tr>
						<tr><td>50 gb of bandwidth</td></tr>
						<tr><td>12 websites</td></tr>	
						<tr><td>Advanced Customization</td></tr>
						<tr><td>wordpress integration</td></tr>
						<tr><td>email support</td></tr>
					</table>
				</div>
				<div class="price-option enterprise">
					<div class="price-option-top">
						<h2 class="price-option-title">Enterprise</h2>
						<span class="money"><span class="dollor">$</span>70</span>
						<span class="period">Monthly Payment</span>
					</div>
					<table class="package-components">
						<tr><td>Unlimited space</td></tr>
						<tr><td>unlimited bandwidth</td></tr>
						<tr><td>100 websites</td></tr>
						<tr><td>Advanced Customization</td></tr>
						<tr><td>wordpress integration</td></tr>
						<tr><td>24/7 customer support</td></tr>
					</table>
				</div>
			</div>	
		</div>
	</div>
</section>