<section class="social-top">
    <div class="container">
		<div class="social-top1">
			<h2 class="small-title-gl">Social Media</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
		</div>
		<div class="social-top2">
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
			<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> 
			<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a> 
			<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
			<a href="#"><i class="fa fa-stumbleupon" aria-hidden="true"></i></a> 
			<a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a> 
		</div>
	</div>
</section>