<section class="tab gray-bg-gl" id="features-axit">
	<div class="container">
		<div class="slides-tab">
			<span class="slides-tab-btn orange">Tab1</span>
			<span class="slides-tab-btn">Tab2</span>
			<span class="slides-tab-btn">Tab3</span>
		</div>
		<div class="slides-description">
			<p class="small-title-gl slides-description-title">Tabs with soft transitioning effect.</p>
			<p class="slides-description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.</p> 
			<p class="slides-description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
			<a href="#" class="btn-gl orange">Download</a>
		</div>
		<div class="slides-picture">
			<img src="./image/tab.png" width="100%">
		</div>
	</div>
</section>