.price 
	padding: 110px 0 100px 0

.price-options
    @extend .clearfix

.price-option 
	float: left
	width: 31.79%
	margin-top: 115px
	text-align: center
	color: #ffffff
	background-color: #333333

.profesional 
	margin: 0 20px
	margin-top: 80px
	box-sizing: border-box

.price-option-title 
	margin: 0
	padding: 15px 0
	font-size: 20px
	font-weight: 700
	line-height: 24px
	border-bottom: 1px solid #bdbdbd

.money 
	display: block
	padding: 32px 0 18px 0
	font-family: Raleway
	font-size: 94px
	line-height: 82px
	font-weight: 700

.dollor 
	font-size: 35px

.period 
	display: block
	padding-bottom: 20px
	opacity: 0.5
	font-style: italic
	text-transform: capitalize

.price-option-top 
	border-bottom: 5px solid #ff8b38	

.profesional .price-option-top 
	border-bottom: none

.popular 
	display: block
	padding: 15px 0
	text-transform: uppercase
	background-color: #ff8b38

.package-components 
	width: 100%
	color: #86878b
	text-transform: uppercase
	background-color: white
	border-collapse: collapse

.package-components td 
	padding: 15px 0
	border-bottom: 1px solid #eeeeee
