.tab 
	padding: 150px 0 114px 0

.slides-tab 
	float: left	
	width: 18.53%
	padding-right: 102px
	box-sizing: border-box

.slides-tab-btn 
	display: block
	min-width: 102px
	padding: 47.5px 36px
	text-transform: uppercase
	color: #ffffff
	font-size: 15px
	font-weight: 400
	line-height: 20px
	background-color: #717171
	box-sizing: border-box

.slides-tab .orange 
	background-color: #ff8b38

.slides-tab-btn 
	border-bottom: 1px solid white

.slides-tab-btn:last-child 
	border-bottom: none
    
.slides-description 
	float: left
	width: 52.4%

.slides-description-title 
	margin: 0 
	padding: 4px 0 49px 0

.slides-description-text 
	margin: 0
	padding: 0 0 15px 0

.slides-description-text:nth-child(3n) 
	padding-bottom: 48px

.slides-description .btn-gl 
	margin-bottom: 22px

.slides-picture 
	float: right
	width: 29%
	padding: 23px 0 55px 0
	box-sizing: border-box